<!DOCTYPE html> 
<head>
    <title>RAMBO SCOUT 2020</title>
</head>


<body>
<div class="header_1">
    <% if (random==1) { %> 
    <img src="<%= assetPath('cantar.jpg') %>" alt="">
    <h3>Bienvenido a las inspecciones!!, canten por favor una cancion de scout para avanzar.</h3>
    <a href="<%= volverPath %> ">Volver</a>
    <% } else if (random==2) { %>
    <img src="<%= assetPath('uno_o_otro.jpg') %>" alt="">
    <h3>El destino toca a tu puerta, RAPIDO! DEBEN ELEGIR! ALCEN EL DEDO GORDO PARA ARRIBA O ABAJO DEPENDIENDO SU RESPUESTA</h3>
    <a href="<%= volverPath %> ">Volver</a>
    <% } else if (random==3) { %>
    <img src="<%= assetPath('ultimo_lugar.jpg') %>" alt="">
    <h3>El lobato siempre se preocupa por los demas, y siempre destacaste por ser un buen compañero, el ultimo avanza 2 espacios.</h3>
    <a href="<%= volverPath %> ">Volver</a>
    <% } else if (random==4) { %> 
    <img src="<%= assetPath('susurrando.jpg') %>" alt="">
    <h3>El susurrador te susurra al oido: "Retrocedes dos espacios"</h3>
    <a href="<%= volverPath %> ">Volver</a>
    <% } else if (random==5) { %>
    <img src="<%= assetPath('caparazon_rojo.jpg') %>" alt="">
    <h3>CUIDADO! CUIDADOOO!! NOOOOO! BOOOOOOM!!!! Esperas 1 minuto</h3>
    <a href="<%= volverPath %> ">Volver</a>
    <% } else if (random==6) { %>  
    <img src="<%= assetPath('tarde.jpg') %>" alt="">
    <h3>Llegaste tarde a la levantada!!! Y ya se fueron al desayuno, retrocedes 1 espacio</h3>
    <a href="<%= volverPath %> ">Volver</a>  
    <% } %> 
    
</div>

</body>